<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/dist/output.css" rel="stylesheet">
    <link href="../static/css/dist/chessboard.css" rel="stylesheet">

    <script defer src="../static/js/script.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/chessboard.js"></script>
    <script src="../static/js/dailypuzzle.js" type="module"></script>

    <title>KChess</title>
</head>

<body class="">
    <header>
        <nav class="navbar bg-primary text-primary-content">
            <a href="/" class="normal-case text-xl ml-4 md:ml-12">
                <img src="../static/img/pawn-svgrepo-com.svg" class="mask mask-hexagon mr-2" alt="pawn logo">
                <h1 class="font-bold font-mono text-xl">KChess</h1>
            </a>
            {% if session['username'] %}
            <div class="dropdown dropdown-end ml-auto mr-4 md:mr-12">
                <h1 tabindex="0" id="username" class="text-xl btn text-white w-28 overflow-clip">{{session['username']}}</h1>
                <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-40 m-2">
                  <li><a href="/profile">Profile</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
            {% else %} 
            <div class="ml-auto mr-0">
                <a href="/login" class="btn mr-4">Login</a>
                <a href="/register" class="hidden md:btn md:mr-6">Register</a>
            </div>     
            {% endif %}
            
        </nav>
    </header>

    <main class="bg-base-200 pb-12">
        <div class="hero py-12">
            <div class="hero-content flex-col lg:flex-row">
                <div>
                    <div class="flex gap-2">
                        <h1 class="text-xl font-bold pb-2">Today's Puzzle</h1>
                        <span id="mark" class="hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="rgb(34, 197, 94)">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </div>
                    
                    <div id="board" class="w-[350px] md:w-[400px] shadow-3xl lg:mr-3"></div>
                </div>

                <div class="flex flex-col gap-5 items-center">
                    <h1 class="text-5xl text-center text-primary-content font-bold pb-5">Play online Chess for free!</h1>
                    
                    <div>
                        <label for="modal-1" class="btn modal-button btn-primary">Play Online</label>

                        <input type="checkbox" id="modal-1" class="modal-toggle">
                        <label for="modal-1" class="modal cursor-pointer">
                            <label class="modal-box relative m-auto max-w-[18.75rem] md:max-w-[32rem]" for="">
                                <label for="modal-1" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                                <form action="/play/online" method="post">

                                    <h1 class="text-3xl pb-12 text-white text-center font-bold">Play Online</h1>

                                    <div class="flex flex-col md:flex-row items-center justify-center gap-4">
                                        <h2 class="text-center font-bold">Time Control</h2>

                                        <select id="select1" name="time_control" class="select select-info w-full max-w-xs">
                                            <option selected value="time">Real Time</option>
                                            <option value="unlimited">Unlimited</option>
                                        </select>
                                    </div>

                                    <div id="timecontrol1" class="flex flex-col pt-8">
                                        <h3 class="text-center pb-4">
                                            Minutes per side
                                        </h3>

                                        <input type="range" name="minutes" min="1" max="5" value="1" class="range" step="1">
                                        <div class="w-full flex justify-between p-2">
                                            <span>1</span>
                                            <span>5</span>
                                            <span>10</span>
                                            <span>15</span>
                                            <span>30</span>
                                        </div>


                                        <div class="flex flex-col pt-8">
                                            <h3 class="text-center pb-4">
                                                Seconds per increment
                                            </h3>

                                            <input type="range" name="seconds" min="1" max="5" value="1" class="range" step="1">
                                            <div class="w-full flex justify-between  p-2">
                                                <span>3</span>
                                                <span>5</span>
                                                <span>10</span>
                                                <span>15</span>
                                                <span>20</span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="flex flex-col items-center pt-6">
                                        <h3 class="text-center pb-4">
                                            Choose Side
                                        </h3>

                                        <div class="btn-group">
                                            <input type="radio" value="white" name="side" data-title="White"
                                                class="btn">
                                            <input type="radio" value="random" name="side" data-title="Random"
                                                class="btn" checked>
                                            <input type="radio" value="black" name="side" data-title="Black"
                                                class="btn">
                                        </div>
                                    </div>

                                    <div class="form-control items-center mt-8">
                                        <input type="submit" value="Play" class="btn btn-primary">
                                    </div>
                                </form>
                            </label>
                        </label>
                    </div>

                    <div>
                        <label for="modal-2" class="btn modal-button btn-primary">Play Vs Friend</label>

                        <input type="checkbox" id="modal-2" class="modal-toggle">
                        <label for="modal-2" class="modal cursor-pointer">
                            <label class="modal-box relative" for="">
                                <label for="modal-2" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>

                                <form action="/play/offline" method="POST">
                                    <h1 class="text-3xl pb-12 text-white text-center font-bold">Play VS Friend</h1>

                                    <div class="flex flex-col md:flex-row items-center justify-center gap-4">
                                        <h2 class="text-center font-bold">Time Control</h2>

                                        <select id="select2" name="time_control" class="select select-info w-full max-w-xs">
                                            <option selected value="time">Real Time</option>
                                            <option value="unlimited">Unlimited</option>
                                        </select>
                                    </div>

                                    <div id="timecontrol2" class="flex flex-col pt-8">
                                        <h3 class="text-center pb-4">
                                            Minutes per side
                                        </h3>

                                        <input type="range" name="minutes" min="1" max="5" value="1" class="range" step="1">
                                        <div class="w-full flex justify-between p-2">
                                            <span>1</span>
                                            <span>5</span>
                                            <span>10</span>
                                            <span>15</span>
                                            <span>30</span>
                                        </div>

                                        <div id="" class="flex flex-col pt-8">
                                            <h3 class="text-center pb-4">
                                                Seconds per increment
                                            </h3>

                                            <input type="range" name="seconds" min="1" max="5" value="1" class="range" step="1">
                                            <div class="w-full flex justify-between  p-2">
                                                <span>3</span>
                                                <span>5</span>
                                                <span>10</span>
                                                <span>15</span>
                                                <span>20</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-control items-center mt-8">
                                        <input type="submit" value="Play" class="btn btn-primary">
                                    </div>
                                </form>
                            </label>
                        </label>
                    </div>

                    <div>
                        <label for="modal-3" class="btn modal-button btn-primary">Play Vs Computer</label>

                        <input type="checkbox" id="modal-3" class="modal-toggle">

                        <label for="modal-3" class="modal cursor-pointer">
                            <label class="modal-box relative">
                                <label for="modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>

                                <form action="/play/stockfish" method="post">
                                    <h1 class="text-3xl pb-12 text-white text-center font-bold">Play VS Computer</h1>

                                    <div class="flex flex-col items-center">
                                        <h3 class="text-center pb-4">
                                            Choose Side
                                        </h3>

                                        <div class="btn-group">
                                            <input type="radio" value="white" name="side" data-title="White"
                                                class="btn">
                                            <input type="radio" value="random" name="side" data-title="Random"
                                                class="btn" checked>
                                            <input type="radio" value="black" name="side" data-title="Black"
                                                class="btn">
                                        </div>
                                    </div>

                                    <div class="form-control items-center mt-8">
                                        <input type="submit" value="Play" class="btn btn-primary">
                                    </div>
                                </form>
                            </label>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="max-w-min md:max-w-xl border-2  m-auto border-accent p-5 rounded-md shadow-lg">
            <div id="header" class="flex flex-col md:flex-row">
                <img alt="player-photo" class="max-w-[18.75rem] h-auto m-auto rounded-md border-2"
                    src="../static/img/chessplayer.png" />

                <div id="body" class="flex flex-col ml-5 w-full my-auto pt-4">
                    <h4 id="tite" class="text-xl font-semibold mb-2 text-info">
                        Quote of the day
                    </h4>

                    <p id="job" class="mt-2 text-accent-content">
                        "When you see a good move, look for a better one"
                    </p>

                    <div class="mt-5">
                        <p class="text-right mr-2">Emanuel Lasker</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer footer-center p-4 bg-base-300 text-base-content">
        <div>
            <p>Made By <a href="https://github.com/khaled5321" class="link link-hover">Khaled Emad</a></p>
        </div>
    </footer>
</body>
</html>